<div id="card">
    <div id="inside">
        <div id="header">
            <header>
                <div clas="left">My monster</div>
                <div clas="right">40 HP</div>
                <img clas="energy icon" src="assets/energy.png"/>
            </header>
            <figure id="art">
                <img src="assets/pik.png"/>
                <figcaption>N 025 Monster</figcaption>
            </figure>
            <div id="capacities">
                <div class="capacity">
                    <div class="main">
                        <div class="cost">
                            <img clas="energy icon" src="assets/energy.png"/>
                            <img clas="energy icon" src="assets/energy.png"/>
                        </div>
                        <div class="name">Geo Impact</div>
                        <div class="damage">60</div>
                    </div>
                    <div class="description">
                        This is a long description of a monster capacity. Probably something to do with electricity.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>