ul {
    all: unset;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px;
    border-radius: 10px;
    vertical-align:middle;
}
li:hover, #selected {
    background-color: rgba(255, 0, 0, .5);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: red;
}

nav{
    background-color: black;
    color: white;
}

.selected {
    ba
}